node_modules/
.idea/
*.log
.sass-cache/
css/
*.aux
*.log
*.fdb_latexmk
js/generated/
typings/
generated.*
templates/*.js
docs/
Papers/ASWEC_2015/paper.pdf
*.synctex.gz
*.bbl
*.blg
*.out
*.fls
paper.pdf
RTCSS.iml
